#macro(renderChangeSet $changeSet)
    <table class="commit-change-set" cellpadding="0" cellspacing="0">
        <tbody>
            #foreach($commitDiff in $changeSet)
                <tr>
                    <td class="change-set">
                        #set($action = $commitActionHelper.parse($commitDiff.getActionId()))
                        #set($path = $!commitDiff.getNewPath())
                        #if($!commitDiff.getOldPath())
                        #set($path = "$path (from $!{commitDiff.getOldPath()})")
                        #end
                        <span class='action action_$!{action.getId()}'>$!action.getName()</span>&nbsp;$!path<br>
                    </td>
                </tr>
            #end
        </tbody>
    </table>
#end

#set($fullName = "")
#if($commit.getRepoGroup())
    #set($repo = $repos.get($!commit.getRepoGroup()))
    #set($fullName = $groupRepoNaming.extractRepoFullName($!commit.getRepoName()))
#else
    #set($repo = $repos.get($!commit.getRepoName()))
    #if($repo)
        #set($fullName = $repo.getRepositoryId())
    #end
#end

#set ($prettyCreateDate = "$prettyFormatter.format($commitDate)")
#set ($iso8601CreateDate = "$iso8601Formatter.format($commitDate)")

<div class="issue-data-block jigit-commit">
    <div class="action-head">
        <div class="sha1">
            <div style="position: relative;">
                <img class="jigit-copy-to-clip" title="Copy sha1 to clipboard" align="left"
                     data-sha1="$commit.getCommitSha1()"
                     src="$req.contextPath/download/resources/com.apanasevich.jira-jigit-plugin:jigit-tab-panel-resources/copy.png">
            </div>
        </div>
        <div class="action-details">
            $commit.getAuthor()
            <span title="sha1: ${commit.getCommitSha1()}">
                #if($repo && $fullName)
                    <a href="$urlActions.withoutTrailingSlash(${repo.getServerUrl()})/${fullName}/commit/${commit.getCommitSha1()}">
                        $i18n.getText("jigit-tab-panel.commits.commited")
                    </a>
                #else
                    $i18n.getText("jigit-tab-panel.commits.commited")
                #end
            </span>
            #if($repo && $fullName)
                $i18n.getText("jigit-tab-panel.commits.destination",
                    "<b>$commit.getBranch()</b>",
                    "
                        <a href='$urlActions.withoutTrailingSlash(${repo.getServerUrl()})/${fullName}'>$commit.getRepoName()</a>")
                -
            #else
                $i18n.getText(
                    "jigit-tab-panel.commits.destination", "<b>$commit.getBranch()</b>", "<b>$commit.getRepoName()</b>")
                -
            #end
            <span class='date user-tz' title='$prettyCreateDate'>
                <time class='livestamp' datetime='$iso8601CreateDate'>$prettyCreateDate</time>
            </span>
        </div>
    </div>
    <div class="action-body">
        <div class="jigit-commit-message">$textutils.htmlEncode($commit.getTitle())</div>
    </div>
    <div class="action-body">
        #renderChangeSet($commit.getCommitDiffs())
    </div>
</div>
